In [1]:
import configparser
from datetime import datetime
import os
import zipfile
import pyspark.sql.functions as f
from pyspark.sql import types as t
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format
from zipfile import ZipFile

In [2]:
# # extract song-data.zip
# with ZipFile('data/song-data.zip', 'r') as zip_ref:
#     zip_ref.extractall('data')

In [3]:
# # extract log-data.zip
# with ZipFile('data/log-data.zip', 'r') as zip_ref:
#     zip_ref.extractall('data/log_data')

In [4]:
config = configparser.ConfigParser()
config.read_file(open('dl.cfg'))

os.environ["AWS_ACCESS_KEY_ID"] = config['AWS']['AWS_ACCESS_KEY_ID']
os.environ["AWS_SECRET_ACCESS_KEY"] = config['AWS']['AWS_SECRET_ACCESS_KEY']
# Read config path file in s3
# SONG_DATA = config['AWS']['INPUT_DATA_SONG_DATA']
# LOG_DATA = config['AWS']['INPUT_DATA_LOG_DATA']
# OUTPUT_DATA = config['AWS']['OUTPUT_DATA']
# print(SONG_DATA)
# print(os.environ["AWS_ACCESS_KEY_ID"])

# Read config path file local
SONG_DATA = config['LOCAL']['INPUT_DATA_SONG_DATA_LOCAL']
LOG_DATA = config['LOCAL']['INPUT_DATA_LOG_DATA_LOCAL']
OUTPUT_DATA = config['LOCAL']['OUTPUT_DATA_LOCAL']

# Create spark session with hadoop-aws package

In [5]:
def create_spark_session():
    spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .getOrCreate()
    return spark

In [6]:
spark = create_spark_session()
spark

# Load song_data (from JSON to Spark)

In [7]:
# Read song_data
song_data_path = SONG_DATA
# song_data_path = SONG_DATA
# df_song_data = spark.read("json").load("s3://udacity-dend/song_data/*/*/*/*.json")
# df_song_data = spark.read.json("s3://udacity-dend/song_data/A/A/A/*.json")
df_song_data = spark.read.json(song_data_path).dropDuplicates()

In [8]:
df_song_data.printSchema()
df_song_data.show(5)

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|         artist_id|artist_latitude|     artist_location|artist_longitude|         artist_name| duration|num_songs|           song_id|               title|year|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|ARPFHN61187FB575F6|       41.88415|         Chicago, IL|       -87.63241|         Lupe Fiasco|279.97995|        1|SOWQTQZ12A58A7B63E|Streets On Fire (...|   0|
|AR1Y2PT1187FB5B9CE|       27.94017|             Brandon|       -82.32547|         John Wesley|484.62322|        1|SOLLHMX12AB01846DC|   The Emperor Falls|   0|
|AR7G5I41187FB4CE6C|           null|     London, England|            null|            Adam Ant|233.40363|        1|SONHOTT12A8C13493C|     Something Girls|1982|
|AR10USD1187B99F3F1|           null|Burlington, Ontar...|            null|Tweeterfriendly M...|189.57016|        1|SOHKNRJ12A6701D1F8|        Drop of Rain|   0|
|ARD7TVE1187B99BFB1|           null|     California - LA|            null|              Casual|218.93179|        1|SOMZWCG12A8C13C480|    I Didn't Mean To|   0|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
only showing top 5 rows

# Create (songs_table + artists_table) Tables

## Create Songs table + write it to parquet file

In [9]:
df_song_data.createOrReplaceTempView("songs_table_df")
songs_table = spark.sql("""
    SELECT
        song_id,
        title,
        artist_id,
        year,
        duration
    FROM songs_table_df
    ORDER BY song_id
""")
songs_table.printSchema()
songs_table.show(10)

root
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- year: long (nullable = true)
 |-- duration: double (nullable = true)

+------------------+--------------------+------------------+----+---------+
|           song_id|               title|         artist_id|year| duration|
+------------------+--------------------+------------------+----+---------+
|SOAOIBZ12AB01815BE|I Hold Your Hand ...|ARPBNLO1187FB3D52F|2000| 43.36281|
|SOBAYLL12A8C138AF9|Sono andati? Fing...|ARDR4AC1187FB371A1|   0|511.16363|
|SOBBUGU12A8C13E95D|Setting Fire to S...|ARMAC4T1187FB3FA4C|2004|207.77751|
|SOBBXLX12A58A79DDA|Erica (2005 Digit...|AREDBBQ1187B98AFF5|   0|138.63138|
|SOBCOSW12A8C13D398|  Rumba De Barcelona|AR7SMBG1187B9B9066|   0|218.38322|
|SOBEBDG12A58A76D60|        Kassie Jones|ARI3BMM1187FB4255E|   0|220.78649|
|SOBKWDJ12A8C13B2F3|Wild Rose (Back 2...|AR36F9J1187FB406F1|   0|230.71302|
|SOBLGCN12AB0183212|James (Hold The L...|AR47JEX1187B995D81|1985|124.86485|
|SOBONFF12A6D4F84D8|Tonight Will Be A...|ARIK43K1187B9AE54C|1986| 307.3824|
|SOBZBAZ12A6D4F8742|      Spanish Grease|AROUOZZ1187B9ABE51|1997|168.25424|
+------------------+--------------------+------------------+----+---------+
only showing top 10 rows

In [10]:
# Write DF data to JSON file(s)
now = datetime.now().strftime('%Y-%m-%d-%H-%M-%S-%f')
songs_table_path = OUTPUT_DATA + "songs_table" + "_" + now
print(songs_table_path)
# Partitioning: https://stackoverflow.com/questions/43731679/how-to-save-a-partitioned-parquet-file-in-spark-2-1
# this command doesn't have partitioning
# songs_table.write.parquet(songs_table_path)
# Write DF to Spark parquet file (partitioned by year and artist_id)
songs_table.write.partitionBy("year", "artist_id").parquet(songs_table_path)

data/output_data/songs_table_2022-09-11-13-07-50-979773

## Create Artists table + write it to parquet file

In [11]:
df_song_data.createOrReplaceTempView("artists_table_df")
print(df_song_data)
artists_table = spark.sql("""
    SELECT
        artist_id as artist_id,
        artist_name as name,
        artist_location as location,
        artist_latitude as latitude,
        artist_longitude as longitude
    FROM artists_table_df
    ORDER BY artist_id DESC
""")
artists_table.printSchema()
artists_table.show(5, truncate=False)

DataFrame[artist_id: string, artist_latitude: double, artist_location: string, artist_longitude: double, artist_name: string, duration: double, num_songs: bigint, song_id: string, title: string, year: bigint]
root
 |-- artist_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- location: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)

+------------------+------------------+--------------+--------+---------+
|artist_id         |name              |location      |latitude|longitude|
+------------------+------------------+--------------+--------+---------+
|ARYKCQI1187FB3B18F|Tesla             |              |null    |null     |
|ARXR32B1187FB57099|Gob               |              |null    |null     |
|ARWB3G61187FB49404|Steve Morse       |Hamilton, Ohio|null    |null     |
|ARVBRGZ1187FB4675A|Gwen Stefani      |              |null    |null     |
|ARULZCI1241B9C8611|Luna Orbit Project|              |null    |null     |
+------------------+------------------+--------------+--------+---------+
only showing top 5 rows

In [12]:
# Write DF to Spark parquet file
now = datetime.now().strftime('%Y-%m-%d-%H-%M-%S-%f')
artists_table_path = OUTPUT_DATA + "artists_table.parquet" + "_" + now
artists_table.write.parquet(artists_table_path)

# Load log_data(from Json to Spark)

In [13]:
# Read local log_data
log_data_path = LOG_DATA
df_log_data = spark.read.json(log_data_path).dropDuplicates()

In [14]:
df_log_data.printSchema()
df_log_data.show(5)

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
|       artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|                song|status|           ts|           userAgent|userId|
+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
|      Fat Joe|Logged In|     Kate|     F|           21| Harrell|241.34485| paid|Lansing-East Lans...|   PUT|NextSong|1.540472624796E12|      605|Safe 2 Say [The I...|   200|1542296032796|"Mozilla/5.0 (X11...|    97|
|  Linkin Park|Logged In|     Kate|     F|           33| Harrell|259.86567| paid|Lansing-East Lans...|   PUT|NextSong|1.540472624796E12|      605|         My December|   200|1542299023796|"Mozilla/5.0 (X11...|    97|
|The Saturdays|Logged In|    Chloe|     F|           20|  Cuevas|176.95302| paid|San Francisco-Oak...|   PUT|NextSong|1.540940782796E12|      630|     If This Is Love|   200|1542318319796|Mozilla/5.0 (Wind...|    49|
|  Wim Mertens|Logged In|   Aleena|     F|           71|   Kirby|240.79628| paid|Waterloo-Cedar Fa...|   PUT|NextSong|1.541022995796E12|      619|          Naviamente|   200|1542321121796|Mozilla/5.0 (Maci...|    44|
|         null|Logged In|    Tegan|     F|           26|  Levine|     null| paid|Portland-South Po...|   GET|    Home|1.540794356796E12|      774|                null|   200|1542768175796|"Mozilla/5.0 (Mac...|    80|
+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
only showing top 5 rows

In [15]:
# Filter record page = 'NextSong'
df_log_data_filtered = df_log_data.filter(df_log_data.page == 'NextSong')
df_log_data.show(20)

+--------------------+----------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
|              artist|      auth|firstName|gender|itemInSession| lastName|   length|level|            location|method|    page|     registration|sessionId|                song|status|           ts|           userAgent|userId|
+--------------------+----------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
|             Fat Joe| Logged In|     Kate|     F|           21|  Harrell|241.34485| paid|Lansing-East Lans...|   PUT|NextSong|1.540472624796E12|      605|Safe 2 Say [The I...|   200|1542296032796|"Mozilla/5.0 (X11...|    97|
|         Linkin Park| Logged In|     Kate|     F|           33|  Harrell|259.86567| paid|Lansing-East Lans...|   PUT|NextSong|1.540472624796E12|      605|         My December|   200|1542299023796|"Mozilla/5.0 (X11...|    97|
|       The Saturdays| Logged In|    Chloe|     F|           20|   Cuevas|176.95302| paid|San Francisco-Oak...|   PUT|NextSong|1.540940782796E12|      630|     If This Is Love|   200|1542318319796|Mozilla/5.0 (Wind...|    49|
|         Wim Mertens| Logged In|   Aleena|     F|           71|    Kirby|240.79628| paid|Waterloo-Cedar Fa...|   PUT|NextSong|1.541022995796E12|      619|          Naviamente|   200|1542321121796|Mozilla/5.0 (Maci...|    44|
|                null| Logged In|    Tegan|     F|           26|   Levine|     null| paid|Portland-South Po...|   GET|    Home|1.540794356796E12|      774|                null|   200|1542768175796|"Mozilla/5.0 (Mac...|    80|
|                null| Logged In| Mohammad|     M|            0|Rodriguez|     null| paid|Sacramento--Rosev...|   GET|    Home|1.540511766796E12|      744|                null|   200|1542786024796|"Mozilla/5.0 (Mac...|    88|
|  The Avett Brothers| Logged In| Mohammad|     M|            1|Rodriguez| 271.0722| paid|Sacramento--Rosev...|   PUT|NextSong|1.540511766796E12|      744|   The Perfect Space|   200|1542786093796|"Mozilla/5.0 (Mac...|    88|
|      In This Moment| Logged In| Mohammad|     M|           12|Rodriguez|226.40281| paid|Sacramento--Rosev...|   PUT|NextSong|1.540511766796E12|      744|             Prayers|   200|1542788517796|"Mozilla/5.0 (Mac...|    88|
|             Unearth| Logged In|     Kate|     F|            0|  Harrell|283.58485| paid|Lansing-East Lans...|   PUT|NextSong|1.540472624796E12|      817|          Letting Go|   200|1542821528796|"Mozilla/5.0 (X11...|    97|
|      La Monja Enana| Logged In|     Kate|     F|           43|  Harrell|144.43057| paid|Lansing-East Lans...|   PUT|NextSong|1.540472624796E12|      817|    VillapingÃÂ¼ino|   200|1542830828796|"Mozilla/5.0 (X11...|    97|
|                 AFI| Logged In|     Lily|     F|           32|     Koch|328.72444| paid|Chicago-Napervill...|   PUT|NextSong|1.541048010796E12|      818|          Affliction|   200|1542843391796|"Mozilla/5.0 (X11...|    15|
|        Nickel Creek| Logged In|    Tegan|     F|           36|   Levine|187.55873| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      548|  Scotch & Chocolate|   200|1542172547796|"Mozilla/5.0 (Mac...|    80|
|  El Cuarteto De Nos| Logged In|    Emily|     F|           27|   Benson| 280.2673| paid|Augusta-Richmond ...|   PUT|NextSong|1.540907087796E12|      522|      Hoy Estoy Raro|   200|1542188822796|"Mozilla/5.0 (Win...|    58|
|                null|Logged Out|     null|  null|            0|     null|     null| free|                null|   PUT|   Login|             null|      216|                null|   307|1542209250796|                null|      |
|          Biz Markie| Logged In|    Chloe|     F|           13|   Cuevas|314.14812| paid|San Francisco-Oak...|   PUT|NextSong|1.540940782796E12|      576|This Is Something...|   200|1542238013796|Mozilla/5.0 (Wind...|    49|
|           The Verve| Logged In|   Martin|     M|            5|  Johnson|360.25424| free|Minneapolis-St. P...|   PUT|NextSong|1.541081807796E12|      415|Bitter Sweet Symp...|   200|1542148779796|"Mozilla/5.0 (Mac...|    55|
|   59 Times the Pain| Logged In|     Ryan|     M|            7|    Smith|144.95302| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|     1068|          Found Home|   200|1543551890796|"Mozilla/5.0 (X11...|    26|
|                null| Logged In|  Cecilia|     F|            0|    Owens|     null| free|Atlanta-Sandy Spr...|   GET|    Home|1.541032432796E12|      735|                null|   200|1542701038796|Mozilla/5.0 (Wind...|     6|
|   Animal Collective| Logged In|     Ryan|     M|            0|    Smith| 322.0371| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      767|      In The Flowers|   200|1542732730796|"Mozilla/5.0 (X11...|    26|
|Yonder Mountain S...| Logged In|  Kinsley|     F|           28|    Young|297.58649| paid|       Red Bluff, CA|   PUT|NextSong|1.540465241796E12|      776|     Boatman's Dance|   200|1542748154796|"Mozilla/5.0 (Mac...|    85|
+--------------------+----------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
only showing top 20 rows

# Create users_table, times_table, songplays_table table

## Create User Table + write it to parquet file

In [16]:
df_log_data_filtered.createOrReplaceTempView("users_table_df")
users_table = spark.sql("""
    SELECT DISTINCT 
        userId as user_id,
        firstName as first_name,
        lastName as last_name,
        gender,
        level
    FROM users_table_df
    ORDER BY last_name
""")
users_table.printSchema()
users_table.show(20)

root
 |-- user_id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- level: string (nullable = true)

+-------+----------+---------+------+-----+
|user_id|first_name|last_name|gender|level|
+-------+----------+---------+------+-----+
|     66|     Kevin| Arellano|     M| free|
|     34|    Evelin|    Ayala|     F| free|
|     99|       Ann|    Banks|     F| free|
|    100|     Adler|  Barrera|     M| free|
|     42|    Harper|  Barrett|     M| paid|
|     91|    Jayden|     Bell|     M| free|
|      2|   Jizelle| Benjamin|     F| free|
|     58|     Emily|   Benson|     F| paid|
|     72|    Hayden|    Brock|     F| paid|
|     51|      Maia|    Burke|     F| free|
|     32|      Lily|    Burns|     F| free|
|     90|    Andrea|   Butler|     F| free|
|     64|    Hannah|  Calhoun|     F| free|
|     27|    Carlos|   Carter|     M| free|
|     94|      Noah|   Chavez|     M| free|
|     41|   Brayden|    Clark|     M| free|
|     81|    Sienna|    Colon|     F| free|
|     54|     Kaleb|     Cook|     M| free|
|     59|      Lily|   Cooper|     F| free|
|     10|    Sylvie|     Cruz|     F| free|
+-------+----------+---------+------+-----+
only showing top 20 rows

In [17]:
# Write DF to Spark parquet file
now = datetime.now().strftime('%Y-%m-%d-%H-%M-%S-%f')
users_table_path = OUTPUT_DATA + "user_table.parquet" + "_" + now
print(users_table_path)
users_table.write.parquet(users_table_path)

data/output_data/user_table.parquet_2022-09-11-13-08-25-949947

## Create Times Table + write it to parquet file

## Create timestamp column

In [18]:
# Create a new column with timestamp
@udf(t.TimestampType())
def get_timestamp (ts):
    return datetime.fromtimestamp(ts / 1000.0)
    
df_log_data_filtered = df_log_data_filtered.withColumn("timestamp", get_timestamp("ts"))
                    

df_log_data_filtered.printSchema()
df_log_data_filtered.show(5, truncate=False)

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)

+------------------+---------+---------+------+-------------+---------+---------+-----+---------------------------------------+------+--------+-----------------+---------+-----------------------------------------------------+------+-------------+--------------------------------------------------------------------------------------------------------------------------+------+-----------------------+
|artist            |auth     |firstName|gender|itemInSession|lastName |length   |level|location                               |method|page    |registration     |sessionId|song                                                 |status|ts           |userAgent                                                                                                                 |userId|timestamp              |
+------------------+---------+---------+------+-------------+---------+---------+-----+---------------------------------------+------+--------+-----------------+---------+-----------------------------------------------------+------+-------------+--------------------------------------------------------------------------------------------------------------------------+------+-----------------------+
|Fat Joe           |Logged In|Kate     |F     |21           |Harrell  |241.34485|paid |Lansing-East Lansing, MI               |PUT   |NextSong|1.540472624796E12|605      |Safe 2 Say [The Incredible] (Album Version - Amended)|200   |1542296032796|"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"                |97    |2018-11-15 15:33:52.796|
|Linkin Park       |Logged In|Kate     |F     |33           |Harrell  |259.86567|paid |Lansing-East Lansing, MI               |PUT   |NextSong|1.540472624796E12|605      |My December                                          |200   |1542299023796|"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"                |97    |2018-11-15 16:23:43.796|
|The Saturdays     |Logged In|Chloe    |F     |20           |Cuevas   |176.95302|paid |San Francisco-Oakland-Hayward, CA      |PUT   |NextSong|1.540940782796E12|630      |If This Is Love                                      |200   |1542318319796|Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0                                                         |49    |2018-11-15 21:45:19.796|
|Wim Mertens       |Logged In|Aleena   |F     |71           |Kirby    |240.79628|paid |Waterloo-Cedar Falls, IA               |PUT   |NextSong|1.541022995796E12|619      |Naviamente                                           |200   |1542321121796|Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0                                         |44    |2018-11-15 22:32:01.796|
|The Avett Brothers|Logged In|Mohammad |M     |1            |Rodriguez|271.0722 |paid |Sacramento--Roseville--Arden-Arcade, CA|PUT   |NextSong|1.540511766796E12|744      |The Perfect Space                                    |200   |1542786093796|"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"|88    |2018-11-21 07:41:33.796|
+------------------+---------+---------+------+-------------+---------+---------+-----+---------------------------------------+------+--------+-----------------+---------+-----------------------------------------------------+------+-------------+--------------------------------------------------------------------------------------------------------------------------+------+-----------------------+
only showing top 5 rows

In [19]:
# df_log_data_filtered.select('timestamp',).limit(5).collect()

## Create datetime column

In [20]:
# Create a new column with datetime
@udf(t.StringType())
def get_datetime(ts):
    return datetime.fromtimestamp(ts / 1000.0).strftime('%Y-%m-%d %H:%M:%S')

df_log_data_filtered = df_log_data_filtered.withColumn("datetime", get_datetime("ts"))
df_log_data_filtered.printSchema()
df_log_data_filtered.show(5, truncate=False)

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- datetime: string (nullable = true)

+------------------+---------+---------+------+-------------+---------+---------+-----+---------------------------------------+------+--------+-----------------+---------+-----------------------------------------------------+------+-------------+--------------------------------------------------------------------------------------------------------------------------+------+-----------------------+-------------------+
|artist            |auth     |firstName|gender|itemInSession|lastName |length   |level|location                               |method|page    |registration     |sessionId|song                                                 |status|ts           |userAgent                                                                                                                 |userId|timestamp              |datetime           |
+------------------+---------+---------+------+-------------+---------+---------+-----+---------------------------------------+------+--------+-----------------+---------+-----------------------------------------------------+------+-------------+--------------------------------------------------------------------------------------------------------------------------+------+-----------------------+-------------------+
|Fat Joe           |Logged In|Kate     |F     |21           |Harrell  |241.34485|paid |Lansing-East Lansing, MI               |PUT   |NextSong|1.540472624796E12|605      |Safe 2 Say [The Incredible] (Album Version - Amended)|200   |1542296032796|"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"                |97    |2018-11-15 15:33:52.796|2018-11-15 15:33:52|
|Linkin Park       |Logged In|Kate     |F     |33           |Harrell  |259.86567|paid |Lansing-East Lansing, MI               |PUT   |NextSong|1.540472624796E12|605      |My December                                          |200   |1542299023796|"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"                |97    |2018-11-15 16:23:43.796|2018-11-15 16:23:43|
|The Saturdays     |Logged In|Chloe    |F     |20           |Cuevas   |176.95302|paid |San Francisco-Oakland-Hayward, CA      |PUT   |NextSong|1.540940782796E12|630      |If This Is Love                                      |200   |1542318319796|Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0                                                         |49    |2018-11-15 21:45:19.796|2018-11-15 21:45:19|
|Wim Mertens       |Logged In|Aleena   |F     |71           |Kirby    |240.79628|paid |Waterloo-Cedar Falls, IA               |PUT   |NextSong|1.541022995796E12|619      |Naviamente                                           |200   |1542321121796|Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0                                         |44    |2018-11-15 22:32:01.796|2018-11-15 22:32:01|
|The Avett Brothers|Logged In|Mohammad |M     |1            |Rodriguez|271.0722 |paid |Sacramento--Roseville--Arden-Arcade, CA|PUT   |NextSong|1.540511766796E12|744      |The Perfect Space                                    |200   |1542786093796|"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"|88    |2018-11-21 07:41:33.796|2018-11-21 07:41:33|
+------------------+---------+---------+------+-------------+---------+---------+-----+---------------------------------------+------+--------+-----------------+---------+-----------------------------------------------------+------+-------------+--------------------------------------------------------------------------------------------------------------------------+------+-----------------------+-------------------+
only showing top 5 rows

In [21]:
df_log_data_filtered.createOrReplaceTempView("time_table_df")
time_table = spark.sql("""
    SELECT  DISTINCT 
        datetime AS start_time, 
        hour(timestamp) AS hour, 
        day(timestamp)  AS day, 
        weekofyear(timestamp) AS week,
        month(timestamp) AS month,
        year(timestamp) AS year,
        dayofweek(timestamp) AS weekday
    FROM time_table_df
    ORDER BY start_time
""")
time_table.printSchema()
time_table.show(5, truncate=False)

root
 |-- start_time: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- weekday: integer (nullable = true)

+-------------------+----+---+----+-----+----+-------+
|start_time         |hour|day|week|month|year|weekday|
+-------------------+----+---+----+-----+----+-------+
|2018-11-01 21:01:46|21  |1  |44  |11   |2018|5      |
|2018-11-01 21:05:52|21  |1  |44  |11   |2018|5      |
|2018-11-01 21:08:16|21  |1  |44  |11   |2018|5      |
|2018-11-01 21:11:13|21  |1  |44  |11   |2018|5      |
|2018-11-01 21:17:33|21  |1  |44  |11   |2018|5      |
+-------------------+----+---+----+-----+----+-------+
only showing top 5 rows

In [23]:
# Write DF to Spark parquet file
now = datetime.now().strftime('%Y-%m-%d-%H-%M-%S-%f')
time_table_path = OUTPUT_DATA + "times_table.parquet" + "_" + now
print(time_table_path)
# time_table.write.parquet(time_table_path)
time_table.write.mode("overwrite").partitionBy("year", "month")\
            .parquet(time_table_path)

data/output_data/times_table.parquet_2022-09-11-13-18-34-141764

# Create songplays table + write it to parquet file

## Join song_data and log_data

In [24]:
df_ld_sd_joined = df_log_data_filtered.join(df_song_data, (df_log_data_filtered.artist == df_song_data.artist_name) & (df_log_data_filtered.song == df_song_data.title))
df_ld_sd_joined.printSchema()
df_ld_sd_joined.show(5, truncate=False)

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- datetime: string (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

+------+---------+---------+------+-------------+--------+---------+-----+----------------------------------+------+--------+-----------------+---------+--------------+------+-------------+-----------------------------------------------------------------------------------------------------------------------------------------+------+-----------------------+-------------------+------------------+---------------+---------------+----------------+-----------+---------+---------+------------------+--------------+----+
|artist|auth     |firstName|gender|itemInSession|lastName|length   |level|location                          |method|page    |registration     |sessionId|song          |status|ts           |userAgent                                                                                                                                |userId|timestamp              |datetime           |artist_id         |artist_latitude|artist_location|artist_longitude|artist_name|duration |num_songs|song_id           |title         |year|
+------+---------+---------+------+-------------+--------+---------+-----+----------------------------------+------+--------+-----------------+---------+--------------+------+-------------+-----------------------------------------------------------------------------------------------------------------------------------------+------+-----------------------+-------------------+------------------+---------------+---------------+----------------+-----------+---------+---------+------------------+--------------+----+
|Elena |Logged In|Lily     |F     |5            |Koch    |269.58322|paid |Chicago-Naperville-Elgin, IL-IN-WI|PUT   |NextSong|1.541048010796E12|818      |Setanta matins|200   |1542837407796|"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"|15    |2018-11-21 21:56:47.796|2018-11-21 21:56:47|AR5KOSW1187FB35FF4|49.80388       |Dubai UAE      |15.47491        |Elena      |269.58322|1        |SOZCTXZ12AB0182364|Setanta matins|0   |
+------+---------+---------+------+-------------+--------+---------+-----+----------------------------------+------+--------+-----------------+---------+--------------+------+-------------+-----------------------------------------------------------------------------------------------------------------------------------------+------+-----------------------+-------------------+------------------+---------------+---------------+----------------+-----------+---------+---------+------------------+--------------+----+

In [25]:
df_ld_sd_joined = df_ld_sd_joined.withColumn("songplay_id", f.monotonically_increasing_id())
df_ld_sd_joined.createOrReplaceTempView("songplays_table_df")
songplays_table = spark.sql("""
    SELECT
        songplay_id as songplay_id,
        timestamp as start_time,
        userId as user_id,
        level,
        song_id,
        artist_id,
        sessionId as session_id,
        location,
        userAgent as user_agent
    FROM songplays_table_df
    ORDER BY (user_id, session_id) 
""")

songplays_table.printSchema()
songplays_table.show(5, truncate=False)

root
 |-- songplay_id: long (nullable = false)
 |-- start_time: timestamp (nullable = true)
 |-- user_id: string (nullable = true)
 |-- level: string (nullable = true)
 |-- song_id: string (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- session_id: long (nullable = true)
 |-- location: string (nullable = true)
 |-- user_agent: string (nullable = true)

+------------+-----------------------+-------+-----+------------------+------------------+----------+----------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------+
|songplay_id |start_time             |user_id|level|song_id           |artist_id         |session_id|location                          |user_agent                                                                                                                               |
+------------+-----------------------+-------+-----+------------------+------------------+----------+----------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------+
|188978561024|2018-11-21 21:56:47.796|15     |paid |SOZCTXZ12AB0182364|AR5KOSW1187FB35FF4|818       |Chicago-Naperville-Elgin, IL-IN-WI|"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"|
+------------+-----------------------+-------+-----+------------------+------------------+----------+----------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------+

In [29]:
# Write DF to Spark parquet file
now = datetime.now().strftime('%Y-%m-%d-%H-%M-%S-%f')
songplays_table_path = OUTPUT_DATA + "songplays_table.parquet" + "_" + now
print(songplays_table_path)
# songplays_table.write.parquet(songplays_table_path)
time_table.write.mode("overwrite").partitionBy("year", "month").\
    parquet(songplays_table_path)

data/output_data/songplays_table.parquet_2022-09-11-13-23-27-330197

In [32]:
# # delete folder output_data in workspace
# !pip install pytest-shutil
# import shutil
# shutil.rmtree("data/output_data/", ignore_errors=False, onerror=None)

Requirement already satisfied: pytest-shutil in /opt/conda/lib/python3.6/site-packages (1.7.0)
Requirement already satisfied: mock in /opt/conda/lib/python3.6/site-packages (from pytest-shutil) (2.0.0)
Requirement already satisfied: termcolor in /opt/conda/lib/python3.6/site-packages (from pytest-shutil) (1.1.0)
Requirement already satisfied: execnet in /opt/conda/lib/python3.6/site-packages (from pytest-shutil) (1.9.0)
Requirement already satisfied: contextlib2 in /opt/conda/lib/python3.6/site-packages (from pytest-shutil) (21.6.0)
Requirement already satisfied: path.py in /opt/conda/lib/python3.6/site-packages (from pytest-shutil) (12.5.0)
Requirement already satisfied: pytest in /opt/conda/lib/python3.6/site-packages (from pytest-shutil) (4.5.0)
Requirement already satisfied: six in /opt/conda/lib/python3.6/site-packages (from pytest-shutil) (1.11.0)
Requirement already satisfied: pbr>=0.11 in /opt/conda/lib/python3.6/site-packages (from mock->pytest-shutil) (3.1.1)
Requirement already satisfied: path in /opt/conda/lib/python3.6/site-packages (from path.py->pytest-shutil) (16.2.0)
Requirement already satisfied: attrs>=17.4.0 in /opt/conda/lib/python3.6/site-packages (from pytest->pytest-shutil) (19.1.0)
Requirement already satisfied: pluggy!=0.10,<1.0,>=0.9 in /opt/conda/lib/python3.6/site-packages (from pytest->pytest-shutil) (0.11.0)
Requirement already satisfied: atomicwrites>=1.0 in /opt/conda/lib/python3.6/site-packages (from pytest->pytest-shutil) (1.3.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.6/site-packages (from pytest->pytest-shutil) (0.1.7)
Requirement already satisfied: more-itertools>=4.0.0; python_version > "2.7" in /opt/conda/lib/python3.6/site-packages (from pytest->pytest-shutil) (7.0.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.6/site-packages (from pytest->pytest-shutil) (38.4.0)
Requirement already satisfied: py>=1.5.0 in /opt/conda/lib/python3.6/site-packages (from pytest->pytest-shutil) (1.8.0)

In [ ]:
# !pip install pycodestyle
# %pycodestyle etl.py